#sim_const, #sim_discrete, #sim_binom, #sim_norm, #sim_unif,
#sim_sequ, #rep_grid {
  max-width: 234px;
}

#sim_form, #rep_form {
  width: 100%;
}

/* from: https://github.com/swarm-lab/editR/blob/master/inst/app/www/editR.css */
#dtree_edit {
  position: absolute;
  top: 155px;
  bottom: 0;
  left: 0;
  right: 50%;
  padding-right: 10px;
}

div.mermaidTooltip {
  text-align: left !important;
  max-width: 300px !important;
}

/*
div.mermaidTooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 12px;
  background: #ffffde;
  border: 1px solid #aaaa33;
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;
}
*/

/* from: https://github.com/swarm-lab/editR/blob/master/inst/app/www/editR.css */
#dtree_print {
  position: absolute;
  top: 155px;
  bottom: 0;
  left: 50%;
  right: 0;
  padding-left: 10px;
  overflow-y: scroll;
}

/* print option relevant to print a decision tree to pdf */
/* based on http://stackoverflow.com/a/2618980/1974918 */
@media print {

  #dtree * {
    visibility: hidden;
  }
  #dtree_plot, #dtree_plot * {
    visibility: visible;
  }
  #dtree_plot {
    display:inline;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  #crtree * {
    visibility: hidden;
  }
  #crtree_plot, #crtree_plot * {
    visibility: visible;
  }
  #crtree_plot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    /*display:inline; */
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 0;*/

    /*height: 100%;*/
    /*height: auto;*/
  }
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  text-decoration: underline !important;
  background-color: transparent !important;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
  text-decoration: underline !important;
  background-color: transparent !important;
  color: #fff;
}
.navbar-brand{
  color: #fff !important;
  padding-top: 4px;
}
.navbar-header{
  color: #fff !important;
}
.navbar-header :hover{
  text-decoration: underline !important;
  color: #fff;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}
a:focus {
  outline: 0 none;
}
.navbar.navbar-default.navbar-static-top > .container-fluid{
  margin-left: 30px !important;
}
.navbar.navbar-default.navbar-static-top > .container-fluid > ul > li > a:hover{
  color: #fff !important;
}
.container-fluid>.container-fluid{
  margin-left: 30px !important;
}
.nav.navbar-nav{
  font-size: large;
}
.navbar{
  background: -moz-linear-gradient(270deg,#081829, #218ba6); /* FF3.6+ */
  background: -webkit-linear-gradient(270deg,#081829,#218ba6); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(270deg,#081829,#218ba6); /* Opera11.10+ */
  background: -ms-linear-gradient(270deg,#081829,#218ba6); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#081829', endColorstr='#218ba6',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(270deg,#081829,#218ba6);}

.panel-SensSpecPlot>.panel-heading{
  background-color: #e4e5e7 !important;
 color: #218ba6 !important;
} 
 .panel-scattCurv>.panel-heading{
  background-color: #e4e5e7 !important;
  color: #218ba6 !important;
} 
.panel-distrCurv>.panel-heading{
  background-color: #e4e5e7 !important;
  color: #218ba6 !important;
} 
.panel-rocCurv>.panel-heading{
  background-color: #e4e5e7 !important;
  color: #218ba6 !important;
}
.panel-aucTable>.panel-heading{
  background-color: #e4e5e7 !important;
  color: #218ba6 !important;
}
.panel-diagStat>.panel-heading{
  background-color: #e4e5e7 !important;
  color: #218ba6 !important;
}
.panel-multComb>.panel-heading{
  background-color: #e4e5e7  !important;
  color: #218ba6 !important;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.aboutSidebarPanel{
  background-color: #fff  !important;
}